.section-7 
    span(class="inner-label") Hiển thị 1 - 9 của 78
    select(class="inner-pagination")
        option(value="") Trang 1 
        option(value="") Trang 2 
        option(value="") Trang 3 