extends ../layouts/default.pug

block title 
    title Đổi mật khẩu
block main 
    h1.box-title Đổi mật khẩu

    //- Section 8
    .section-8 
        form
            .inner-group
                label(class="inner-label" for="password") Mật khẩu mới
                input(type="password" name="password" id="password")
            .inner-group
                label(class="inner-label" for="confirmPassword") Nhập lại mật khẩu mới
                input(type="password" name="confirmPassword" id="confirmPassword")
            .inner-button.inner-two-col
                button Đổi mật khẩu
    //- End Section 8