extends ../layouts/default.pug

block title 
    title Thông tin cá nhân
block main 
    h1.box-title Thông tin cá nhân

    //- Section 8
    .section-8 
        form
            .inner-group
                label(class="inner-label" for="fullname") Họ tên
                input(type="text" name="fullname" id="fullname")
            .inner-group
                label(class="inner-label" for="email") Email
                input(type="email" name="email" id="email")
            .inner-group
                label(class="inner-label" for="phone") Số điện thoại
                input(type="text" name="phone" id="phone")
            .inner-group
                label(class="inner-label" for="positionCompany") Chức vụ
                input(type="text" name="positionCompany" id="positionCompany")
            .inner-group
                label(class="inner-label" for="role") Nhóm quyền  
                input(type="text" name="role" id="role" value="Quản trị viên" readonly)
            .inner-group.inner-two-col
                label(class="inner-label" for="avatar") Ảnh đại diện  
                input(type="file" name="avatar" id="avatar" accept="image/*" filepond-image)
            .inner-button.inner-two-col
                button Cập nhật
        .inner-back 
            a(href="#") Đổi mật khẩu
    //- End Section 8